body{
    margin: 0%;
    padding: 0%;

}
.container p{
    color: aqua;
    background-color: aqua;


}

.main-title{

}
.main-img{
    display: block;
    unicode-bidi: isolate;

}

#cont-1{

}
.main-text {

}
.input-form {
    width: 200px;
    margin: 100px;
    padding: 20px;
    border: solid;
    color: chocolate;
    border-radius: 5px;
    background: linear-gradient( rgb(245, 201, 197), rgb(197, 108, 179) )
}


.input-group label {

}
.input-group input {
    width: 100%;
    padding: 10px;
    border: solid 1px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: aliceblue;

}
.input-form input:focus {
    border-color: aliceblue;
    outline: none;
}
.input-form button {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;


}
.input-form button:hover {
    background: rgb(223, 215, 231);
}